<app-cheader></app-cheader>
<main>
  <h1>{{title}}</h1> <!-- Interpolacion de ña propiedad title -->

  <section>
    <h2>Seccion 1</h2>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolorum facere nulla suscipit consequatur asperiores, possimus adipisci cupiditate quam voluptatem in alias dignissimos consectetur eveniet obcaecati? Laboriosam voluptates quod ipsum!
  </section>
  <section>
    <h2>seccion2</h2>
    {{getDato()}}
  </section>
  <section>
    <!-- Rednerizado de componentes -->
    <router-outlet />
  </section>
</main>
<app-cfooter></app-cfooter>


